img.badge {
  max-width: 150px;
  max-height: 150px;
  width: 15vw;
  height: 15vw;
  margin-right: 10px;
  margin-top: 20px;
  transform: rotate(25deg);
  
  #border-radius: 55% 42% 57% 50%;
  border-radius: 10% 10% 10% 10%;
  box-shadow: 0 -2px 4px rgba(  0,   0,   0, 0.2) inset,
              0  3px 3px rgba(255, 255, 255, 0.6) inset,
              0  1px 5px rgba(  0,   0,   0, 0.8);
  transition-duration:1s;
  transition-duration:1s;
  display: inline-block;
  }
  
  img.badge:hover
{

  #transform: rotate(30deg);

}

.text1 {

  font-size: 92px;
  padding: 10px 0px;
  color: #dc006c;
  margin-right: -50px;
  margin-left: 2vw;
  transform: rotateY(180deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;/* stack 1st word on top */


  text-transform: uppercase;
  font-size: 8em;
  white-space: nowrap;
  font-size: 12vw;
  z-index: 1000;
    text-shadow: 
      -4px 4px 0px #fffff8, 
      -7px 7px 0px rgba(0, 0, 0, 0.2);
}


.text2 {

  font-size: 92px;
  padding: 10px 50px;
color: #2c2c2c;
display: inline-block;
    letter-spacing: .05em;  
    
  font-size: 9vw;
    text-shadow: 
      4px 4px 0px #fffff8, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
}







